@import '../../../styles/variables.scss';

.months .month {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  min-width: unset;

  &:not(:first-of-type) {
    margin-left: 5px;
  }

  &.current {
    background: $main;
    color: $white;
    box-shadow: $thin-shadow;
  }
}
