@import 'styles/variables';

.days {
  grid-template-columns: repeat(7, minmax(200px, 1fr));
  display: grid;
  position: relative;

  .days-loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $white;
    opacity: 0.3;
    z-index: 1;
  }
}
