.row {
  display: flex;
}

.row-c {
  display: flex;
  align-items: center;
}

.row-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  display: flex;
  flex-flow: column;
}

.wrap {
  display: flex;
  flex-flow: wrap;
}

.mh-100vh {
  min-height: 100vh;
}
