$white: #fff;
$font-gray: #707070;
$border-gray: #efefee;
$background-gray: #f1f5fb;
$main: #3f51b5;
$thin-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
$transition: cubic-bezier(0.4, 0, 0.2, 1);
$blank-day: #f8f8f8;
