@import '../../../../styles/variables.scss';

$today: #e8f0fe9e;

.day {
  padding: 15px 5px 15px 15px;
  border-right: 1px solid $border-gray;
  border-bottom: 1px solid $border-gray;
  position: relative;
  height: 200px;

  &.today {
    background: $today;
    border: none;
  }

  &.blank {
    background: $blank-day;
  }

  .expenses {
    overflow: hidden;

    & > div {
      border-radius: 2px;
      min-width: 50px;
      margin: 0 8px 8px 0;
    }
  }

  .toolbox {
    margin-top: auto;

    .number {
      font-size: 12px;
    }
  }
}
