@import '../../../../styles/variables.scss';

.day {
  padding: 15px 5px 15px 15px;
  border-right: 1px solid $border-gray;
  border-bottom: 1px solid $border-gray;
  position: relative;
  height: 200px;

  &.today {
    background: $main;
    border: none;

    .expenses > div {
      color: $white;
      border-color: $white;
    }

    .toolbox {
      .date {
        color: $white;
      }

      .add-expense-btn {
        border: 1px solid $white;

        svg {
          color: $white;
        }
      }
    }
  }

  &.blank {
    background: $blank-day;
  }

  .expenses {
    overflow: hidden;

    & > div {
      border-radius: 2px;
      min-width: 50px;
      margin: 0 8px 8px 0;
    }
  }

  .toolbox {
    margin-top: auto;

    .date {
      font-size: 14px;
      color: $font-gray;
    }

    .add-expense-btn {
      margin: 0 5px 0 auto;

      svg {
        color: $main;
      }
    }
  }
}
